@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

.root {
  border-radius: var(--border-radius);
  border: solid 1px var(--secondary);
  margin-bottom: var(--padding-base);
  padding: 0 var(--padding-base);
}

.summary {
  margin-left: var(--padding-base-minus);
  margin-right: var(--padding-base-minus);
  padding: var(--padding-half) var(--padding-base);

  .root[open] & {
    border-bottom: solid 1px var(--secondary);
  }
}
