@import "./styles/bootstrap-config";
@import "~bootstrap/scss/bootstrap";

:root {
  --animation-duration-closing: 150ms;
  --animation-duration: 300ms;
  --border-radius: 4px;
  --color-basic-bg: #{$body-bg};
  --color-basic-fg: #{$body-color};
  --color-theme-bg: #{$primary};
  --color-theme-fg: #{$white};
  --padding-base-minus: -16px;
  --padding-base: 16px;
  --padding-half-minus: -8px;
  --padding-half: 8px;
}
